<!DOCTYPE html>
<html>
  <head>
    <title><%= msg %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bootstrap/js/jquery-1.10.1.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  </head>
  <body>

    <%-  include("header",{title:"首页"}) %>
    <h1><%= title %></h1>
    <h1><%= msg %></h1>
    <h3><%= word %> </h3>
    <p>Welcome to <%= title %></p>

    <h4> <%= names %> </h4>
    <div>
      <%- tag%>
    </div>
    <h2> <%- feel %> </h2>
<!-- 
    <%- 'hahahaha' %>
    这是注释的内容  
    readme -->

    <%# 这是ejs 内容注释   %>
    <p> <%%  </p>
    <p> %>%  </p>

    <%-  flag ?  '<h2>Are you ok?</h2>':'<h4>get it</h4>' %>

   <% if(username){  %>
         <h3> 欢迎你  :   <%- username %></h3>
        <button class="btn btn-warning" onclick="location.href='/logout'">注销</button>
        <button class="btn btn-info" onclick="location.href='/movie' ">电影列表1</button>
   <% }else{  %>
       <button  class="btn btn-primary" onclick="location.href='/login';">登陆</button>
       <button class="btn btn-success " onclick="location.href='/register';">注册</button>
   <% }  %>

  <% arr.forEach((item,index)=>{  %>
      <h3><%-item %> --- <%- index %>-- </h3>
   <% })  %>

   <%- include('footer') %>
   <%- include footer %>
  </body>
</html>
